:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxed{
  width:80%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0px 20px;
  text-align: center;
  display:flex;
  flex-direction: column;
}

footer{
  text-align: center;
  padding:20px;
  border-top:1px solid #444;
  margin-top:auto;
  font-size:0.9em;
  color:#aaa;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

a {
  text-decoration: inherit;
  color: ivory;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1.1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: #646cff;
}

.active {
  background-color: #767676;
}

.barra{
  display:flex;
  justify-content:space-between;
  margin:0px auto;
  margin-bottom:40px;
  padding:30px 0 20px;
  border-bottom:1px solid #878787;
}

nav{
  display:flex;
  gap:15px;
}

.setbudget{
  display:flex;
  gap:10px;
  align-items:end;
}
.setbudget input{
  width:5rem;
}

.error{
  color:yellow;
  font-size: 1.2em;
}

/*----------------------------------  CARD  -----------------------------*/

.card_container{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  margin:0 auto;
  padding:20px;
}

.card{
  position:relative;
  max-width:230px;
  max-height:400px;
  border:1px solid #ccc;
  border-radius:8px;
  padding:20px;
  background-color: #cccccc49;
  overflow:hidden;
}
.card:hover{
  background-color: rgba(255, 255, 255, 0.521);
}

.title{
  min-width: 0;
  width:100%;
}

.title h2{
  margin:10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image{
  width:100%;
  height:250px;
  overflow: hidden;
}

.image img{
  width:100%;
  height:100%;
  object-fit:contain;
  display: block;
}

.card a{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.price{
  font-size:1.4em;
  font-weight:700;
  margin-top:10px;
}

.addtocart{
  width:300px;
  background-color:#1a1a1a;
  display:flex;
  gap:2px;
  justify-content:center;
  align-items:center;
  position:absolute;
  bottom:-35px;
  left:-20px;
  z-index:1;
  height:35px;
  transition: bottom 0.3s ease;
}

.card:hover .addtocart {
  bottom: 0; 
}


.addtocart input{
  width:30px;
  height:20px;
  background-color:transparent;
  border:none;
  outline: none;
}

.addtocart button{
  width:150px;
  overflow:hidden;
  font-size:1em;
  background-color:transparent;
  border:none;
  cursor:pointer;
}

/*----------------------------------  PRODUCT  -----------------------------*/

.single-container{
  max-width:1000px;
  margin:0 auto;
  text-align:center;
  display: flex;
  align-items: center;
  gap:40px;
  justify-content: center;
}

.single-container .button{
  padding: 20px;
  font-size: 3rem;
}

.product{
  min-width:850px;
  height:450px;
  display: flex;
  border:1px solid #ccc;
  border-radius:8px;
  justify-content:space-around;
  align-items:center;
  overflow: hidden;
  padding: 20px;
}

.single-image{
  width:350px;
  height:350px;
  margin-top:10px;
}

.single-image img{
  width:100%;
  height:100%;
  object-fit:contain;
  display: block;
} 

.single-info{
  width:400px;
  text-align:left;
  min-width: 0;
  height: 100%;
  overflow:hidden;
  position:relative;
}

.yellow{
  color:yellow;
}

.rating{
  font-size:1.4rem;
}

.d-open {
  max-height: 100px;     
  overflow-y: auto;      
  overflow-x: hidden;
}
.d-closed{
  max-height: none;
  overflow: hidden;
}

/*----------------------------------  CART  -----------------------------*/

.flex{
  display:flex;
  gap:10px;
  align-items:center;
}


.cart-container{
  max-width:90%;
  margin:50px auto;
  gap:10px;
  display:flex;
  flex-direction:column;
}

.cart-product{
  width:1000px;
  height:auto;
  display: flex;
  border:1px solid #ccc;
  border-radius:8px;
  justify-content:space-around;
  align-items:center;
  overflow: hidden;
  padding: 20px;
  position:relative;
}

.cart-image{
  width:150px;
  height:150px;
  padding:30px;
  margin-left:100px;
}

.cart-image img{
  width:100%;
  height:100%;
  object-fit:contain;
  display: block;
} 

.cart-total{
  align-self:start;
  width:100%;
}  

.cart-delete{

  font-size:1.5em;
  cursor:pointer;
}
.count{
  font-size:1.5rem;
}

/* ---------------- TABLE ---------------- */

.cart-total table{
  width:100%;
  border-collapse:collapse;
  font-size:1.2rem;
  margin-top:10px;
}



.cart-total thead th{
  text-align:right;
  padding:10px 0;
  border-bottom:1px solid #555;
  font-weight:600;
}

/* .cart-total thead th:first-child{
  text-align:center;
} */

.cart-total tbody tr{
  border-bottom:1px solid #555;
}

.cart-total tfoot tr{
  border-bottom:none;
}

/* allineo i numeri a destra */
.cart-total td,
.cart-total th{
  text-align:right;
  white-space:nowrap;
}

.cart-total tfoot th,
.cart-total tfoot td{
  padding-top:10px;
  border-top:1px solid #777;
  font-weight:700;
}

.cart-total tfoot td{
  text-align:right;
  white-space:nowrap;
  font-size:1.05rem;
}


/* ---------------- MODAL ---------------- */

.overlay{
  position:fixed;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background:rgba(0,0,0,0.5);
  z-index:9999;
}

.modal{
  width:500px;
  background:#fff;
  border-radius: 1rem;
  padding:20px;
}

.m-title{
  margin:0 28px 10px 0;
  font-size:1.15rem;
  color:#1a1a1a;
}

.m-text{
  margin:0 0 16px;
  line-height:1.4;
  color:#222;
}

.m-buttons{
  display:flex;
  gap:10px;
  justify-content:center
}

.m-btn{
  border:1px solid #ccc;
  background:#f6f6f6;
  padding:10px 14px;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
}

.m-btn:hover{
  filter:brightness(0.9);
}

.m-cancel{
  background:#fff;
  color:#1a1a1a;
}

.m-delete{
  border-color:#b00020;
  background:#b00020;
  color:#fff;
}

